*{
    font-family: "Poppins",Times,serif;
}
body{
    background-color: rgb(222, 215, 215) ;
}
.signup__page{
    padding: 100px;
    margin: 20px;
    text-align: center;
    justify-content: center;
}
.page__container{
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 60px;
    gap: 60px;
    max-width: 100%;    
}
.left__page,.right__page{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}
.sign__up--title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
.left__page input{
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid;
    border-color: #575757;
    border-radius: 10px;
    color: black;
}
.sign__up--button,.signin__button{
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    background-color: #FF7700;
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.sign__up--button:hover,.signin__button:hover{
    background: rgb(193, 99, 65);
}
.left__page a{
    text-decoration: none;
    color: #FF7700;
    font-weight: 600;
}
.right__page img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.signin__page{
    text-align: center;
    justify-content: center;
    padding: 100px;
    margin: 20px;
}
.signin__title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
.right__page input{
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid;
    border-color: #575757;
    border-radius: 10px;  
    color: black;  
}
.right__page a{
    text-decoration: none;
    color: #FF7700;
    font-weight: 600;
}
.left__page img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.box1{
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 66px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(-1,-2,0,1);
    align-items: center;
    display: block;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    background-color: white;
}
.nevbar{
    text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.box2{
    display: none;
    justify-content: space-between;
    height: 80px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(-1,-2,0,1);
    align-items: center;
    display: none;
    display: grid;
    grid-template-columns: 15% 35% 50%; ; 
    position: fixed;
    z-index: 100;
    right: 0; 
    left: 0;
    background-color: white;
    right:25px
}
@media (max-width: 1000px) {
  .box1 {
    display: none;
  }
  .box2 {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .box1 {
    display: flex;
  }
  .box2 {
    display: none;
  }
}
.logo{
    margin-left: 10px;
    margin-bottom: 1px;
    height: 66px;
    display: flex;
    align-items:start;
    padding-left: 10px;
    
}   

.selection{
    display: flex;
    justify-content: end;
    background-image: none;
    padding-right: 10px;
}
.section1{
    border: none;
    width: 66px;
    background-image: url("images/facebook_rm.png");
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-left: 10px;
    background-color: #FF7700;
    border-radius: 5px;
    margin-right: 1px;

}
.section1:hover{
    transform: translateY(-10px);             /* move up */
    background-image: url("images/Facebook.jpg");
}
.section2{
    border: none;
    width: 66px;
    background-image: url("images/instagram_rm.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #FF7700;
    border-radius: 5px;
    margin-right: 20px;
}
.section2:hover{
    transform: translateY(-10px);             /* move up */
    background-image: url("images/instagram.png");
}
.sign_in{
    height: 40px;
    margin-top: 10px;
    width: 80px;
    align-items: center;
    border-radius: 10px;
    font-size: 80%;
    margin-bottom: 5pxpx;
}
.middle{
    height: 100%;
    gap: 5px;
    align-items: center;
}
.content{
    height: inherit;
    color: #575757; 
    background-color:#f3a460;
    border: none;
    background: none;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 8px; 
    transition: transform 0.3s ease;
}
.content:hover{
    color: #2a2a2a;
}
.content::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;              /* underline thickness */
    background: #FF7700;
    border-radius: 10px;      /* make underline rounded */
    transform: translateX(-50%);
    transition: 0.3s ease;
    
}
.content:hover::after{
    width: 80%;
    background-color: #ff7700;  
}             

.btn-img{
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

.sign_in:hover{
    background-color: #FF7700;
}
.input{
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  padding-right: 60px;
  margin-bottom: 10px;
  background: none;
  border: 2px solid #FF7700;
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 600;
}