*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:rgb(222, 215, 215);
}
.box1{
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 66px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(-1,-2,0,1);
    align-items: center;
    display: block;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    background-color: white;
}
.nevbar{
    text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.box2{
    display: none;
    justify-content: space-between;
    height: 80px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(-1,-2,0,1);
    align-items: center;
    display: none;
    display: grid;
    grid-template-columns: 15% 35% 50%; ; 
    position: fixed;
    z-index: 100;
    right: 0; 
    left: 0;
    background-color: white;
    right:25px
}
@media (max-width: 1000px) {
  .box1 {
    display: none;
  }
  .box2 {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .box1 {
    display: flex;
  }
  .box2 {
    display: none;
  }
}
.logo{
    margin-left: 10px;
    margin-bottom: 1px;
    height: 66px;
    display: flex;
    align-items:start;
    padding-left: 10px;
    
}   

.selection{
    display: flex;
    justify-content: end;
    background-image: none;
    padding-right: 10px;
}
.section1{
    border: none;
    width: 66px;
    background-image: url("images/facebook_rm.png");
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-left: 10px;
    background-color: #FF7700;
    border-radius: 5px;
    margin-right: 1px;

}
.section1:hover{
    transform: translateY(-10px);             /* move up */
    background-image: url("images/Facebook.jpg");
}
.section2{
    border: none;
    width: 66px;
    background-image: url("images/instagram_rm.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #FF7700;
    border-radius: 5px;
    margin-right: 20px;
}
.section2:hover{
    transform: translateY(-10px);             /* move up */
    background-image: url("images/instagram.png");
}
.sign_in{
    height: 40px;
    margin-top: 10px;
    width: 80px;
    align-items: center;
    border-radius: 10px;
    font-size: 80%;
    margin-bottom: 5pxpx;
}
.middle{
    height: 100%;
    gap: 5px;
    align-items: center;
}
.content{
    height: inherit;
    color: #575757; 
    background-color:#f3a460;
    border: none;
    background: none;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 8px; 
    transition: transform 0.3s ease;
}
.content:hover{
    color: #2a2a2a;
}
.content::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;              /* underline thickness */
    background: #FF7700;
    border-radius: 10px;      /* make underline rounded */
    transform: translateX(-50%);
    transition: 0.3s ease;
    
}
.content:hover::after{
    width: 80%;
    background-color: #ff7700;  
}             

.btn-img{
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

.sign_in:hover{
    background-color: #FF7700;
}
.spacial_menu_arriv{
    width: 40%;
    height: auto;
}  
.content_new_men{
    width: 100%;
    padding-top: 90px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.new_menu{
    padding: 15%;
    font-size: large;
}

.food{
    margin-right: 30px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-self: end;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.butt{
    margin: 10px;
    padding: 4px 8px;
    align-items: center;
    border-radius: 10px;
    font-size: 80%;
    border: none;
}
.butt:hover{
    background-color: #FF7700;
}   
.dancing-script-400-normal {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  
}
.container {
    height: 40px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    left: 10px;
    border: none;
    background-color: white;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.position{
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 5px;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.input{
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  padding-right: 30px;
  margin-bottom: 10px;
  background: none;
  border: 2px solid #FF7700;
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 600;
}
.dropdown{
  float: left;
  overflow: hidden;
  align-items: center;
  /* margin: 10px; */
  
}
.position{
  display: grid;
  grid-template-columns: 30% 40%;
  gap: 5px;
  left:20px;
}


/* for menu properties */

.card__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}
.card__holder{
    justify-content: center;
    flex: 1;
    display: flex;
}
.card {
    display: flex;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.card__content--left,
.card__content--right {
    flex: 1;
}

.card__content--left img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card__content--right {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
}

.card__content--right i {
    color: #f8d34a;
}

.food__title {
    margin-top: 0;
    text-transform: uppercase;
}

.card__content--right span {
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.info__button {
    color: white;
    background: #FF7700;
    border: none;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.info__button:hover {
    color: #575757;
    background: rgb(206, 187, 151);
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card__content--left img {
        height: 180px;
    }
}

/* event properties */

.slider__container{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin-top: 3em;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.element__left{
    flex: 1;
}
.element__right{
    flex: 1;
}

.slider{
    aspect-ratio: 9/3;
    display: flex;
    flex: 0 0 100%;
    gap: 10px;
    scroll-snap-align: start;
}
.slider__container::-webkit-scrollbar{
    display: none;
}
.slider__title{
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.slider__description{
    color: #575757;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-left: 20px;
}
.image__holder{
    width: 80%;
    height: 100%;
    background: grey;
    border-radius: 10px;
}
.slider__arrow{
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.arrow{
    color: white;
    background: #FF7700;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.arrow:hover{
    background-color: rgb(255, 111, 0);
}
.slider__wrapper{
    margin: 60px;
}
.about__us{
    margin: 250px 0;
    padding: 0;
}
.about__us--image{
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-image: url("images/aboutus.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px; 
}
.about__us--image h1{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 60px;
    font-size: 3em;
    color: aliceblue;
}
.about__text,.about__ttile{
    margin-left: 60px;
}
.about__ttile{
    font-size: 2em;
}
.about__description p{
    margin-top: 0;
    font-size: 100;
}
.aboutus__content{
    display: flex;
    flex: 1;
    gap: 100px;
}
.about__text{
    flex: 1;
}
.aboutus__image{
    flex: 1;
}
.aboutus__image img{
    width: 100%;
    height: 100%;
}
.footer__section{
    background: black;
}
.footer__container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    color: white;
}
.footer__item{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.footer__item a{
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 1em;
}
.footer__item--wrapper{
    display: flex;
    flex: 1;
    gap: 60px;
}
.footer__item--follow i{
    color: aliceblue;
    background: #575757;
    padding: 10px;
    border-radius: 100%;
    border: none;
    margin-top: 10px;
}