*{
    font-family: "Poppins",Times,serif;
}
body{
    background-color: rgb(222, 215, 215) ;
}
.signup__page{
    padding: 100px;
    margin: 20px;
    text-align: center;
    justify-content: center;
}
.page__container{
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 60px;
    gap: 60px;
    max-width: 100%;    
}
.left__page,.right__page{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}
.sign__up--title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
.left__page input{
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid;
    border-color: #575757;
    border-radius: 10px;
    color: black;
}
.sign__up--button,.signin__button{
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    background-color: orangered;
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.sign__up--button,.signin__button:hover{
    background: rgb(193, 99, 65);
}
.left__page a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}
.right__page img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.signin__page{
    text-align: center;
    justify-content: center;
    padding: 100px;
    margin: 20px;
}
.signin__title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
.right__page input{
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid;
    border-color: #575757;
    border-radius: 10px;  
    color: black;  
}
.right__page a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}
.left__page img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}