*{
     font-family: "Poppins",Times,serif;
}
.slider__container{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    margin-top: 3em;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.element__left{
    flex: 1;
}
.element__right{
    flex: 1;
}

.slider{
    aspect-ratio: 9/3;
    display: flex;
    flex: 0 0 100%;
    gap: 10px;
    scroll-snap-align: start;
}
.slider__container::-webkit-scrollbar{
    display: none;
}
.slider__title{
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.slider__description{
    color: #575757;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-left: 20px;
}
.image__holder{
    width: 80%;
    height: 100%;
    background: grey;
    border-radius: 10px;
}
.slider__arrow{
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.arrow{
    color: white;
    background: orangered;
    padding: 5px 10px;
    border-radius: 5px;
}
.arrow:hover{
    background-color: rgb(255, 111, 0);
}
.slider__wrapper{
    margin: 60px;
}